@import url(assets/fonts/fonts.css);

body {
  background-color: #FCFCFB;
  height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #394C5A;
  text-rendering: optimizeLegibility;
}

*, *::after, *::before {
  box-sizing: border-box;
}
